.job-container {
  display: flex;
  justify-content: center;
  background: #f8f9fa;
  padding: 10px;
}

.job-left {
  width: 600px;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.job-header-container,
.job-description-container {
  background: #fff;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.job-header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.job-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.job-title {
  flex: 1;
  font-size: 18px;
  font-weight: bold;
}

.job-logo {
  width: 100px;
  height: 50px;
  margin-left: 210px;
  border: 1px solid gray;
  border-radius: 20px;
}


.job-company-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.job-company {
  color: #777883;
}

.job-rating {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #777883;
}

.star-icon {
  color: #ff9800;
}

.job-details-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.job-details {
  display: flex;
  gap: 15px;
  font-size: 14px;
  color: #666;
}

.job-location-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #666;
}

.job-location {
  display: flex;
  align-items: center;
}

.location-icon {
  color: #080808;
  margin-right: 4px;
}

.job-save-container {
  display: flex;
  align-items: center;
  gap: 5px;
}


.job-save {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #275CF8;
  font-size: 14px;
  text-decoration: none;
}

.divider {
  border: none;
  height: 1px;
  background: #ddd;
  margin: 10px 0;
}


.job-meta-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.job-meta {
  display: flex;
  gap: 15px;
  font-size: 14px;
  color: #666;
}

.job-meta strong{
  color: black;
}

.job-actions {
  display: flex;
  gap: 10px;
}

.register-btn,
.apply-btn {
  padding: 8px 12px;
  border: none;
  border-radius: 15px;
  font-size: 14px;
  cursor: pointer;
}

.register-btn {
  background-color: white;
  border: 1px solid #275CF8;
  color: #275CF8;
}

.apply-btn {
  background-color: #275CF8;
  color: white;
}

.job-description {
  margin-top: 20px;
}

.key-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.skill {
  padding: 5px 10px;
  border: 1px solid rgb(81, 80, 80);
  border-radius: 20px;
  font-size: 14px;
}

.social-links {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.social-icon {
  font-size: 20px;
  color: #007bff;
  cursor: pointer;
}

.social-icon1 {
  font-size: 20px;
  cursor: pointer;
}

/* Right Side */
.job-right {
  width: 500px;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.suggestion-container{
  background: #fff;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.job-suggestions h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.job-suggestion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.suggestion-text h4 {
  font-size: 14px;
  font-weight: bold;
}

.suggestion-text p {
  font-size: 12px;
  color: #292929;
}

.suggestion-logo {
  width: 70px;
  height: 50px;
  margin-left: 210px;
  border: 1px solid gray;
  border-radius: 20px;
}